<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body>
    <h1>Submitted Information</h1>
    Name: <%= name %><br>
    Dojo Location: <%= location %><br>
    Favorite Language: <%= lang %><br>
    Comment: <%= comment %><br>
    <a href="/"><button>Go Back</button></a>
  </body>
</html>
