<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <p *ngIf='loginError'>{{loginError}}</p>
        <form class="form-horizontal" method="post" #loginForm="ngForm" (submit)="login()">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input
                    class="form-control"
                    type="email"
                    name="email"
                    required
                    [(ngModel)]="user.email"
                    #email="ngModel"
                    pattern="^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$"
                    >
                    <div class="alert alert-danger fade in" *ngIf="user.email.length < 1 || email.invalid">
                        <span *ngIf="user.email.length < 1">Email is required.</span>
                        <span *ngIf="user.email.length >= 1">Email is invalid.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Password:</label>
                <div class="col-sm-10">
                    <input
                    class="form-control"
                    type="password"
                    name="password"
                    [(ngModel)]="user.password"
                    #password="ngModel"
                    >
                    <div class="alert alert-danger fade in" *ngIf="user.password.length < 1">Password is required.</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input
                    class="btn btn-default"
                    type="submit"
                    value="Login"
                    [disabled]="loginForm.invalid"
                    >
                </div>
            </div>
        </form>
    </div>
</body>
</html>
