<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Counter</title>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <div id="container">
      <h1>Counter</h1>
        <div id="content">
        <div id="count">
          <span class="number"><%= count %></span> times.
        </div>
        <a href="/two"><button>+2</button></a>
        <a href="/reset"><button>Reset</button></a>
        <div id="assignment">
          <h2>Assignment: Counter</h2>
            <p>Build an Express application that counts the number of times the root route ('/') has been viewed.</p>
            <p>This assignment is to test your understanding of session.</p>
            <p><h3>Ninja Level 1</h3>
            Add a +2 button underneath the counter that reloads the page and increments counter by 2. Add another route to handle this functionality.</p>
            <p><h3>Ninja Level 2</h3>
            Add a reset button that resets the counter back to 1. Add another route to handle this functionality.</p>
        </div>
      </.div>
    </div>
  </body>
</html>
