* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font: 100 12pt "Helvetica Neue", sans-serif;
  color: whitesmoke;
  background-color: whitesmoke;
}
#wrapper {
  width: 50%;
  margin: 50px auto 0 auto;
  text-align: center;
}
#content {
  background-color: lightcoral;
  padding: 20px 50px;
}
h1 {
  color: lightcoral;
  font-size: 60pt;
}
.forminput {
  padding: 3px;
  margin: 2px;
}
input {
  padding: 3px;
  background-color: whitesmoke;
}
input[type=submit] {
  background-color:white;
  color: lightcoral;
}
select {
  background-color: whitesmoke;
}
textarea {
  background-color: whitesmoke;
  margin-top: 2px;
  width: 100%;
  padding: 3px;
}
.formcomment {
  text-align: left;
}
